# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
Frontend/dist/
tmp/
out-tsc/
bazel-out/

# Node
Frontend/node_modules/
npm-debug.log
yarn-error.log

# Dependencias y variables del Backend
Backend/node_modules/
Backend/.env

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
Frontend/.vscode/*
!Frontend/.vscode/settings.json
!Frontend/.vscode/tasks.json
!Frontend/.vscode/launch.json
!Frontend/.vscode/extensions.json
!Frontend/.vscode/mcp.json
.history/*

# Miscellaneous
Frontend/.angular/
.sass-cache/
connect.lock
coverage/
libpeerconnection.log
testem.log
typings/
__screenshots__/

# System files
.DS_Store
Thumbs.db

# Backend
Backend/node_modules/
Backend/.env