* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, sans-serif;
}

body {
  background-color: #F8F9FA;
  color: #333;
  width: 1280px; 
  margin: 0 auto; 
  overflow-x: auto; 
}

html, body {
  height: 100%;
}